# editor
.idea
.vscode
*~
.*.sw?
.cache

# testing
.nox
.mypy_cache
.pytest_cache
htmlcov
coverage.xml
.coverage

# documentation
site

# python
__pycache__
dist
env
venv
.python-version
*.db

# macOS
.DS_Store

# env
.env